@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
$grey: #363636;


// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;


// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

p,
label {
  font-family: 'Charm', cursive;
  font-size: 1.5em;
  color: whitesmoke;
}

.title.is-2  {
  color: whitesmoke;
}

section {
  margin-top: 12em;
  margin-bottom: 7em;
  padding-top: 2em;
  width: 100vw;
}

span>a {
  color: whitesmoke !important;
}

span>a:hover {
  color: $blue !important;
}

/* hero styling */

.hero {
  background-image: url("../img/background-hero-dark.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container h1,
h4.title.is-4,
h3.title.is-3 {
  font-family: 'Allura', cursive;
}

h4.title.is-4 {
  font-size: 2rem;
  color: $blue !important;
}

h1.title.is-1 {
  font-size: 6em;
}

@media screen and (max-width: 1000px) {
  h1.title.is-1 {
    font-size: 3.5em;
  }
}




.is-1 {
  padding-top: 1em;
}

#countdown {
  animation-iteration-count: infinite;
  animation-name: shine;
  animation-duration: 1.4s;

  @keyframes shine {
    20% {
      transform: scale(1.2);
      opacity: 0.8;
    }
  }
}



//navbar styling
#navbar {
  top: -3.25em;
}

@media screen and (max-width: 1000px) {
  body {
    overflow: hidden;
  }

  #navbar {
    top: 0em;
    padding-top: 15px;
    
    margin-right: 15px;
    background: transparent;
  }
}


.navbar {

  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 2em;
  color: $grey !important;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 30%;
  background-image: linear-gradient(to right, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.navbar>.container {
  display: none !important;
}

#countdown {
  color: $blue;
}

.is-2 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  font-size: 2em;
  position: relative;
  background-image: linear-gradient(transparent 60%, $pink 40%);
  background-repeat: repeat-x;
  background-size: 200% 100%;
}

.navbar-burger {
  padding-right: 1em;
  transform: scale(2);
}

//title styling

#uitnodiging-title,
#rsvp-title {
  color: whitesmoke;
  

}

//story styling

#story {
  background-image: url("../img/background-invitation.png");
  background-attachment: fixed;
}

#story .container {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  margin: 40px;

  h3,
  p {
    color: whitesmoke;
  }
}

#column-anouk:hover #felix {
  transition: 0.3s;
  transform: scale(1.1);
}

#column-seppe:hover #burgerij {
  transition: 0.3s;
  transform: scale(1.1);
}

h3.title.is-3 {
  font-family: 'ZCOOL XiaoWei', serif;
}

#cadeau p {
  text-align: center;
  padding-bottom: 32px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile-pic {
  width: 250px;
  height: auto;

  img {
    border-radius: 15px;
  }
}



@media screen and (max-width: 1000px) {
  #story {
    margin-bottom: 20em;
    height: 105%;
  }
}




//kaart & parkeer

#parkeer p {
  color: $grey;
  font-family: 'ZCOOL XiaoWei', serif;
  margin-left: 40px;
  padding: 2em 0 1em 0;
}

li>p {
  margin-left: 40px;
  font-weight: bold;
}

.iframe-parking {
  margin-left: 40px;
 
}

@media screen and (max-width: 1000px) {
  iframe {
    width: 300px;
    height: 320px;
  }
}

//venue styling

#venue {
  background-image: url("../img/parking-min.png");
  background-attachment: fixed;
  padding-bottom: 32px;
}

#parkeer p {
  color: whitesmoke;
}



//foto styling
.level-item {
  margin: 4em;
}

//title

.title {
  margin: 1em;
  font-family: 'Dhanikans-Signature', sans-serif;
  text-align: center;
  color: whitesmoke;
}

//form styling

#form {
  background-image: url("../img/form-background-dark.png");
  height: 120%;
  background-attachment: fixed;
}

#form-wrap>p,
.field>label,
.radio {
  font-family: 'ZCOOL XiaoWei', serif;
}

@media screen and (max-width: 1000px) {
  div#form-wrap {
    margin-left: 0px;
  }
}

#rsvp-title {
  margin-left: 0;
}



form#formulier {
  margin: 30px;
}

.input.is-large,
textarea#schijfkes {
  background: transparent;
  border: 1px solid darken($color: whitesmoke, $amount: 20);
  color: darken($color: whitesmoke, $amount: 30);
}

.radio+.radio {
  margin-left: 0 !important;
}

.checkbox:hover,
.radio:hover {
  color: $blue !important;
}

.asterix {
  color: red;
}

label {
  padding-bottom: 1em;
  padding-top: 1em;
}

form {
  margin-bottom: 6em;
}

#form-wrap {
  margin-left: 10%;

}

input#submitButton {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1000px) {
  form#formulier {
    margin-left: 2rem;

  }

  .field {
    margin-right: 10%;
  }
}

input[type=submit] {
  background-color: $pink;
  color: #fff;
}

input[type=submit]:hover {
  background-color: $blue;
  animation-name: scale;
  animation-duration: 0.4s;

  @keyframes scale {
    20% {
      transform: scale(1.2);
      opacity: 0.8;
    }
  }
}

input[type=submit]:active {
  background-color: $blue;
  transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
  #form {

    padding-left: 0.5em;
    padding-right: 0.5em;
  }

}


//memories fotos



#memories {
  margin-top: 0;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  body { 
    margin: 0; 
  }

  div#slider { 
    overflow: hidden; 
  }

  div#slider figure img { 
    width: 20%; 
    float: left; 
    border-radius: 15px;
  }

  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 25s slidy infinite; 
  }

 

  @media screen and (min-width: 800px) {
    #slider {
      margin: auto 300px;
    }
  
  }

//footer

footer {
  margin-top: 6em;
  
}

.footer {
  padding: 0;
  padding-bottom: 1em !important;
  padding-top: 1em !important;
  width: 100vw;
  background-image: linear-gradient(to right, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);

}

.footer>.content>p {
  color: $grey;
}



@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei|Charm');

@import "../node_modules/bulma/bulma";